/* Universal styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-primary{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F5F8FF;
  overflow-x: hidden;
}

/* shared styles */
.btn-primary{
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 28px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 
        background-color 0.3s ease, 
        color 0.3s ease, 
        transform 0.5s ease,
        box-shadow 0.2s ease;
}

.btn-primary:hover{
    background-color: #fff;
    color: black;
    border: 1px solid #4E47FF;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-size: 14px;
}

/* Header styles */
header{
    width: 100vw;
    height: 85vh;
    background-image: url(../Assets/Hero-bg.png);
    background-position: center;
    margin-bottom: 116px;
}

/* navigation bar styles */
nav{
    width: 80%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 800;
    color: #4E47FF;
}

/* header's Banner section styles */
.header-hero{
    max-width: 45%;
    height: 30vh;
    margin: 160px auto 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-title{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin-bottom: 37px;
}


/* action section styles */
.action{
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
}

.action-content{
    width: 35%;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}

.action-sub-title{
    font-size: 24px;
    font-weight: 250;
    color: #72737F;
    margin-bottom: 23px;
}

.action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* Productive section styles */
.productive{
    width: 70%;
    background-color: #E5E7FF;
    border-radius: 24px;
    text-align: center;
    padding: 50px 80px;
    margin: 0 auto 137px;

}

.productive-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}

.productive-data{
    display: flex;
    justify-content: space-evenly;
}

.productive-item{
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
}

.productive-label{
    font-size: 20px;
    font-weight: 400;
    color: #72737F;
}

/* review section styles */
.reviews{
    width: 70%;
    margin: 0 auto 137px;
}
.reviews-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
}

.feedbacks{
    display: flex;
    justify-content: space-evenly;
    gap: 0 20px;
}

.feedback{
    background-color: #fff;
    border-radius: 14px;
    padding: 25px 20px;
}

.stars img[alt="star"]{
    transform: scale(0.9);
    margin-bottom: 24px;
}

.feedback-title{
    font-size: 24px;
    margin-bottom: 8px;
    color: #1E1E1E;
}
.feedback-sub-title{
    font-size: 16px;
    font-weight: 500;
    color: #1E1E1E;
    width: 75%;
    margin-bottom: 24px;
}

.reviewer{
    display: flex;
    gap: 0 8px;
}

.reviewer img[alt="avatar"]{
    border-radius: 50%;
}

.reviewer-name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}

.reviewer-date{
    font-size: 16px;
    font-weight: 500;
    color: #B3B3B3;
}

/* focus section styles */
.focus-container{
    width: 70%;
    background-color: #fff;
    border-radius: 14px;
    margin: 0 auto 150px;
    padding: 70px;
    text-align: center;
}

.focus-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.focus-sub-title{
    font-size: 16px;
    font-weight: 500;
    color: #808080;
    margin-bottom: 20px;
}

.focus-img{
    margin-top: 40px;
    border-radius: 48px;
}

/* let's get in touch section styles */
.contact-form{
    width: 70%;
    margin: 0 auto 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-title{
    font-size: 97px;
    font-weight: bold;
    width: 40%;
    margin-right: 137px;
}
.info-collector{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.info-collector 
label[for="email"],
label[for="name"],
label[for="textarea"]{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}   
.info-collector 
input[type="email"],
input[type="text"]{
    font-family:  "Inter", sans-serif;
    padding: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 19px;
    font-size: 1.1rem;
    border: 1px solid #D6DDED;
}

.info-collector 
textarea[name="textarea"]{
    width: 100%;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family:  "Inter", sans-serif;
    margin-bottom: 20px;
    overflow: hidden;
    resize: none;
    font-size: 1.1rem;
    border: 1px solid #D6DDED;
}

.info-collector 
button[type="submit"]{
    padding: 20px 0;
}

/* footer section styles */
footer{
    width: 100vw;
    height: 40vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-title{
    text-align: center;
    font-size: 100px;
    font-family:  "Inter", sans-serif;
    font-weight: 800;
    color: #4E47FF;
    margin-bottom: 8px;
}

.footer-sub-title{
    text-align: center;
    font-size: 16px;
    color: #8987A1;
    width: 500px;
    margin-bottom: 20px;
}

.footer-nav{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 55px;
    color: #8987A1;
    cursor: pointer;
}
